/*-----------------------General css---------------------------------*/
@font-face {
    font-family: 'exo';
    src: url('font/exo2.0-black-webfont.eot');
    src: url('font/exo2.0-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/exo2.0-black-webfont.woff2') format('woff2'),
         url('font/exo2.0-black-webfont.woff') format('woff'),
         url('font/exo2.0-black-webfont.ttf') format('truetype'),
         url('font/exo2.0-black-webfont.svg#exo_2.0black') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: exo, arial, serif;
    color: rgb(240, 240, 240);
    background-color: black;
    margin: 0px;
}
#content {
    background-color: black;
    float: left;
    text-align: center;
    padding-top: 350px; /*Change text from meny */
}
p {
    text-align: justify;
    display: inline-block;
    width: 90%;
}
.h3Headline {
    text-decoration: underline;
}
a {
    color: rgb(255, 100, 0);
}
/*----------------------End general css-----------------------------------------*/

/*----------------------Footer css-----------------------------------------*/

#footer{            /*Sets stats for everything inside of the footer block*/
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 60px;
    clear: both;        /*Pushes the footer down to the bottom of the page*/
}
#footerImg{           /*Sets the position and size of the image in the footer*/
  position: absolute;
  width: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
#footerP{       /*Changes the font size and position for the text in the footer*/
    position: absolute;
    margin-left: 50px;
    width: 80px;
    margin-top: 10px;
    font-size: small;
}
#homeFooter{            /*Sets stats for everything inside of the footer block*/
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 60px;
    clear: both;        /*Pushes the footer down to the bottom of the page*/
    /*position: absolute;*/
    /*bottom: 0;*/
}

/*----------------------End footer css-----------------------------------------*/

/*----------------------Menu css------------------------------------------------*/
header{
    position: fixed;
    background-color: rgb(35, 35, 35);
    width: 100%;
}

header a{
    padding: 15px;
    display:block;
    text-decoration:none;
    margin: 0;
}


nav {
    text-align:center;
    background-color: rgb(35, 35, 35);
    width: 100%;
}

nav ul{
    margin: 0;
    padding: 0;
    display:block;
}

nav ul li{
    border: solid;
}

nav ul li a {
    padding: 15px;
    display:block;
    text-decoration:none;
    margin: 0;
}
#menuLogo {
    width: 20%;
}

/*----------------------End menu css----------------------------------------------*/

/*----------------------Home css------------------------------------------------*/

#mobileHomeBackground {
    background-image: url("pics/conceptMobile.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 100%;
}

/*----------------------End home css--------------------------------------------*/

/*----------------------About css------------------------------------------------*/



/*----------------------End about css---------------------------------------------*/

/*----------------------News css-------------------------------------------------*/

.newsParagraph {
    height: 80px;
    overflow: hidden;        /*Script event to expand the paragraphs*/
    line-height: 18px;
}

/*----------------------End news css---------------------------------------------*/

/*----------------------Form css---------------------------------------------*/

#pre-orderForm, #contactForm {
    background-color: rgb(50, 50, 50);
}
legend {
    margin: auto;
    color: rgb(255, 100, 0);
}
input[type=text], input[type=email], input[type=submit], #edition {
    font-family: inherit;
    border-radius: 5px;
    border-color: black;
    border-style: ridge;
    border-width: 3px;
    width: inherit;
    max-width: 55%;
}
#first.inputInfo, #last.inputInfo, #mail.inputInfo, #edition {
    float: right;
    color: rgb(255, 100, 0);
}
#sendButton {
    margin-top: 15px;
    margin-bottom: 10px;
}
label, #sendButton:hover {
    color: rgb(255, 100, 0);
}

/*----------------------End form css--------------------------------------------*/

/*----------------------pre-order css--------------------------------------------*/


/*----------------------End pre-order css---------------------------------------*/

/*----------------------Contact css--------------------------------------------*/


/*-----------------------End contact css----------------------------------------*/


