/*-----------------------General css---------------------------------*/
#homeBody {
    background-image: url("pics/conceptScreen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% -45px;
    background-color: black;
    background-attachment: fixed;  
}
.pageBody {
    background-image: url("pics/galaxy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;  
    background-attachment: fixed; 
}
#content {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  width: 75%;
}
#homeFooter{    /*Sets stats for everything inside of the footer block*/
    background-color: rgb(35, 35, 35);
    position: absolute;
    bottom: 0;
}
#footer {
    margin-top: 60px;
}
#footerImg{          /*Sets the position and size of the image in the footer*/
    position: absolute;
    width: 35px;
    margin-left: 10px;
    margin-top: 5px;
}
#footerP{       /*Changes the font size and position for the text in the footer*/
  position: absolute;
  margin-left: 60px;
  width: 150px;
  margin-top: 30px;
  font-size: small;
}

#homeContainer {
    max-width: 920px;
}
#goToTopButton {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    text-align:center;
    text-decoration:none;
}
#goToTopButton:hover {
    background-color: white;
}

/*----------------------End general css-----------------------------------------*/

/*----------------------Menu css------------------------------------------------*/
header {
    display: none;
}

nav {
    display: block;
    position: fixed;
    padding-top: 0px;
}

nav ul {
    text-align: center;
    display: inline-block;
}

nav ul li {
    text-align: center;
    display: block;
    float: left;
    border: none;
}

nav ul li a {
    padding: 10px;
}
#backHome {
    display: block;
}

/*----------------------End menu css----------------------------------------------*/

/*----------------------Home css------------------------------------------------*/

#mobileHomeBackground {
    display: none;
}

/*----------------------End home css--------------------------------------------*/

/*----------------------About css------------------------------------------------*/

.video {
    width: 60%;
    height: 250px !important;
}
#imgSliderWindow {
    width: 85%;
    margin: auto;
    max-width: 640px;
}

/*----------------------End about css---------------------------------------------*/


/*----------------------Form css---------------------------------------------*/

#sendButton {
  display: block;
  margin-left: 45%;
}

/*----------------------End form css---------------------------------------------*/
