/*-----------------------General css---------------------------------*/
@font-face {
    font-family: 'exo';
    src: url('font/exo2.0-black-webfont.eot');
    src: url('font/exo2.0-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/exo2.0-black-webfont.woff2') format('woff2'),
         url('font/exo2.0-black-webfont.woff') format('woff'),
         url('font/exo2.0-black-webfont.ttf') format('truetype'),
         url('font/exo2.0-black-webfont.svg#exo_2.0black') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    /*background-image: url(pics/galaxy.png);*/
    background-color: black;
    background-position: top left;  /*Places it in the top left corner*/
    background-attachment: fixed;   /*Makes sure that it is fixed there*/
    background-size: cover;         /*Makes sure it covers the page*/
    z-index: -999999;
}
#homeBody {
    background-image: url("pics/conceptScreen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -45px;
}
.pageBody {
    background-image: url("pics/galaxy.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#content {
  width: 70%;
  margin-left: 14%;
  background-color: rgba(0, 0, 0, 0.9);
}
#homeFooter{            /*Sets stats for everything inside of the footer block*/
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 60px;
    clear: both;        /*Pushes the footer down to the bottom of the page*/
    position: absolute;
    bottom: 0;
}
#goToTop {
    position: relative;
    background-color: black;
    width: 50px;
    margin-left: 4%;
}
#mobileGoToTop {
    display: none;
}
#footerImg{          /*Sets the position and size of the image in the footer*/
    position: absolute;
    width: 35px;
    margin-left: 10px;
    margin-top: 5px;
}
#footerP{       /*Changes the font size and position for the text in the footer*/
  position: absolute;
  margin-left: 60px;
  width: 150px;
  margin-top: 30px;
  font-size: small;
}
/*----------------------End general css-----------------------------------------*/

/*----------------------Menu css------------------------------------------------*/

/*.meny { Changes to the main meny, border*/
    /*height: 50px; change the border height */
/*    float:left;*/
/*    width:100%;*/
/*    background: black;*/
/*    position: fixed;*/
/*}*/
/*.meny ul { */
/*    clear:left;*/
/*    float:left;*/
/*    list-style:none;*/
/*    margin:0;*/
/*    padding:0;*/
/*    position:fixed;*/
/*    left:50%;*/
/*    text-align:center;*/
/*}*/
/*.meny ul li {*/
/*    display:block;*/
/*    float:left;*/
/*    list-style:none;*/
/*    margin:0;*/
/*    padding:0;*/
/*    position:relative;*/
/*    right:50%;*/
/*}*/
/*.meny ul li a {*/
/*    display: block;*/
/*    margin:0 0 0 1px;*/
/*    padding:15px 25px;*/
/*    background:#ddd;*/
/*    color:#000;*/
/*    text-decoration:none;*/
/*}*/
/*.meny ul li a:hover {*/
/*   background:#369;*/
/*   color:#fff;*/
/*}*/
/*.meny ul li a.active,*/
/*.meny ul li a.active:hover {*/
/*   color:#fff;*/
/*   background:#000;*/
/*   font-weight:bold;*/
/*}*/

/*#content {*/
/*    margin: 100px; */
/*}*/

header{
    position: fixed;
    background-color: rgb(35, 35, 35);
    width: 100%;
}

.dropmeny {
    text-align:center;
    background-color: rgb(35, 35, 35);
}

.dropmeny ul{
    margin: 0;
    padding: 0;
    display:block;
}

.dropmeny ul li{
    border: solid;
}

.dropmeny ul li a {
    padding: 15px;
    display:block;
    text-decoration:none;
    margin: 0;
}
#menuLogo {
    width: 60px;
}


/*----------------------End menu css----------------------------------------------*/

/*----------------------Home css------------------------------------------------*/

#homeBackground {
    /*height: 500px;*/
    /*background-image: url(pics/gameName.png);*/
    background-position: center;
    background-color: transparent;
    /*padding-top: 100%;*/
    z-index: 999999;
}
#mobileHomeBackground {
    display: none;
}

/*----------------------End home css--------------------------------------------*/

/*----------------------About css------------------------------------------------*/

.video {
  width: 60%;
}

/*----------------------End about css---------------------------------------------*/

/*----------------------News css-------------------------------------------------*/



/*----------------------End news css---------------------------------------------*/

/*----------------------Form css---------------------------------------------*/

#sendButton {
  display: block;
  margin-left: 45%;
}

/*----------------------End form css---------------------------------------------*/

/*----------------------pre-order css--------------------------------------------*/



/*----------------------End pre-order css---------------------------------------*/

/*----------------------Contact css--------------------------------------------*/



/*-----------------------End contact css----------------------------------------*/

